---
import { SITE_TITLE } from '../consts';
import '@fontsource/alex-brush';
---

<header>
	<nav>
		<img src="/minnie-castle.svg" alt=""/>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<img src="/mickey-castle.svg" alt="" class="filter-cinderella-blue"/>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: var(--navy-blue);
		box-shadow: 0 5px 20px var(--cinderella-blue);
	}
	.filter-cinderella-blue {
		filter: invert(100%) sepia(17%) saturate(6722%) hue-rotate(170deg) brightness(99%) contrast(83%);
	}
	nav img {
		height: 3.75em;
		padding: .15em .15em;
	}
	nav h2 {
		margin: 0;
		font-size: 3em;
		padding: 0.15em 0.15em;
		text-align: center;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	nav a {
		color: white;
		font-family: 'Alex Brush', cursive;
		text-decoration: none;
	}
	@media (max-width: 500px) {
		nav h2 {
			font-size: 2.5em;
		}
	}
	@media (max-width: 430px) {
		nav h2 {
			font-size: 2em;
		}
	}
	@media (max-width: 380px) {
		nav h2 {
			font-size: 1.7em;
		}
	}
</style>
