---
import { SITE_TITLE } from '../consts';
import '@fontsource/alex-brush';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: var(--navy-blue);
		box-shadow: 0 5px 20px var(--cinderella-blue);
	}
	nav h2 {
		margin: 0;
		font-size: 3em;
		padding: 0.15em 0.5em;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	nav a {
		color: white;
		font-family: 'Alex Brush', cursive;
		text-decoration: none;
	}
</style>
